*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: white;
    position: absolute;
}
@media (max-width:900px){
    body{
        color: black;
    }
}
body{
   
    background-size:100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;  
}


nav{
    height: 150px;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.1);
    border-bottom: 1px solid black;
}
label.logo{
    color:white;
    font-size: 40px;
    text-align: right;
    font-family:Lucida Grande;
    line-height: 80px;
    padding:0 12px;
    font-weight: bold;  
    margin-right: 40%;
   
}
label.tickets{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 44%;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height:80px;
    margin:0 5px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    padding:7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: rgb(139, 134, 134);
    transition: .5s;
}
nav ul li ul{
    position: absolute;
    display: none;
    background-color:lightskyblue;  
    border-radius: 0px 0px 5px 5px;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    line-height: 1;
    width: 140px;
    border-radius: 5px;
    padding:6px;
    display: block;
}
nav ul li ul a{
    padding: 10px 16px;
}
nav ul li ul li a:hover{
    background-color: rgb(84, 150, 191);
    transition: .5s;
}
nav ul li a:hover{
    background: rgb(84, 150, 191) ;  
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
.bars{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width:900px){
    label.logo{
        font-size: 15px;
        padding-left: 5px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:900px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(68, 152, 221);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height:30px ;
        
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: black;
    }
    #check:checked~ul{
        left: 0;
    }
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}
/*turtle banner*/
.image-section{
    background: url(donatello-images-final/tickets_bg.jpeg) no-repeat;
    background-size: cover;
    height: 150px;
  }
.background-image h2 {
    top: 33%;
    left: 3%;
    color: #fff;
    position: absolute;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.background-image p {
    top: 45%;
    left: 17%;
    color: #fff;
    position: absolute;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    @media(max-width:900px){
        .background-image{
          width: 100%;
    } 
    .background-image h2 {
    font-size:48px;
    top:22%;
    left:3%;
    display: none;
  }
}
@media(max-width:900px){
    .background-image p {
    font-size:20px;
    top:40%;
    left:15%;
    display: none;
  }
}

ul {
    top: 100% !important;
    transform: translateY(0%) !important;
}

.iti {
    position: relative;
    display: inline-block;
}

input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0;

    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0;
    border: 1px solid #CCC;
    width: 270px;
    height: 35px;
    /* padding: 6px 12px; */
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
}

button {
    color: #FFF;
    background-color: #428BCA;
    border: 1px solid #357EBD;
    height: 39px;
    margin: 0;
    padding: 6px 20px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
}

button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer;
}


 /*footer*/
 footer{
    position: fixed;
    bottom: 0;
  }
  
.foo-ter{
    background-color: #2d2a30;
    box-sizing: border-box;
    text-align: left;
    font: bold 16px;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer-left,.footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer-left{
    width: 40%;
    margin-left: 4%;
}
.foo-ter h3{
    color: white;
    font: 35px;
    margin: 0;
}
.foo-ter h3 span{
    color: lightblue;
}
.footer-links{
    color: white;
    margin: 20px 0 12px;
}
.footer-links a{
    display: inline-block;
    text-decoration: none;
    color: white;
}
.footer-companyname{
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-right{
    width: 40%;
    margin-left:11%; 
}
.footer-companyabout{
    line-height: 20px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-companyabout span{
    display: block;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links a:hover{
    color: lightblue;
}

@media(max-width:900px){
  .footer{
    flex-wrap: wrap;
  }
  .footer-right{
    margin-left: -8%;
    width:90%
  }
  .footer-left{
    width: 100%;
    margin-left: -5%;
  }
  .foo-ter.footer-links, .foo-ter, .foo-ter.footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}
footer{
    position: static;
}
}
@media(max-height:900px)
  {
    footer{
        position: static;
    }
}

@media(max-width:900px){
    .flexSum{
        flex-direction: column;
    }
    .container{
        width: 40%;
        margin-left: 10%;
    }

}


.book-tickets{
    margin-left: 5%;
    margin-right: 60%;
}


/* International Telephone Input Css */
.flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
    right: auto;
    left: 0;
}

.flag-container:hover {
    cursor: pointer;
}

.selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px;
}

.flag.bd {
    height: 12px;
    background-position: -418px 0;
}

.arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555;
}

.arrow-up {
    border-top: none;
    border-bottom: 6px solid #555;
}

.country-list {
    display: none;
    cursor: pointer;
    line-height: 18px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 0px 8px 10px 1px rgb(57 64 78 / 70%), 0px 3px 14px 2px rgb(57 64 78 / 70%), 0px 5px 5px -3px rgb(57 64 78 / 70%);
    background-color: #39404e;
    width: 100%;
    width: auto;
    max-height: 500px;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.country-list.active {
    display: inline-block;
}

.country {
    padding: 5px 26px 5px 15px;
    outline: 0;
}

.country-list .divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(0 0 0 / 12%);
}

.country.highlight {
    background-color: rgb(51 57 70);
}

.flag-box {
    display: inline-block;
    width: 20px;
}

.country-name,
.flag-box {
    margin-right: 6px;
}

.country-name,
.dial-code,
.flag-box {
    vertical-align: middle;
}

.country-name {
    color: #cdcdcd;
}

.dial-code {
    color: #adacaf;
}



/* International Telephone Input Flags Css */
.flag {
    width: 20px;
}

.flag.be {
    width: 18px;
}

.flag.ch {
    width: 15px;
}

.flag.mc {
    width: 19px;
}

.flag.ne {
    width: 18px;
}

.flag.np {
    width: 13px;
}

.flag.va {
    width: 15px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .flag {
        background-size: 5652px 15px;
    }
}

.flag.ac {
    height: 10px;
    background-position: 0 0;
}

.flag.ad {
    height: 14px;
    background-position: -22px 0;
}

.flag.ae {
    height: 10px;
    background-position: -44px 0;
}

.flag.af {
    height: 14px;
    background-position: -66px 0;
}

.flag.ag {
    height: 14px;
    background-position: -88px 0;
}

.flag.ai {
    height: 10px;
    background-position: -110px 0;
}

.flag.al {
    height: 15px;
    background-position: -132px 0;
}

.flag.am {
    height: 10px;
    background-position: -154px 0;
}

.flag.ao {
    height: 14px;
    background-position: -176px 0;
}

.flag.aq {
    height: 14px;
    background-position: -198px 0;
}

.flag.ar {
    height: 13px;
    background-position: -220px 0;
}

.flag.as {
    height: 10px;
    background-position: -242px 0;
}

.flag.at {
    height: 14px;
    background-position: -264px 0;
}

.flag.au {
    height: 10px;
    background-position: -286px 0;
}

.flag.aw {
    height: 14px;
    background-position: -308px 0;
}

.flag.ax {
    height: 13px;
    background-position: -330px 0;
}

.flag.az {
    height: 10px;
    background-position: -352px 0;
}

.flag.ba {
    height: 10px;
    background-position: -374px 0;
}

.flag.bb {
    height: 14px;
    background-position: -396px 0;
}

.flag.bd {
    height: 12px;
    background-position: -418px 0;
}

.flag.be {
    height: 15px;
    background-position: -440px 0;
}

.flag.bf {
    height: 14px;
    background-position: -460px 0;
}

.flag.bg {
    height: 12px;
    background-position: -482px 0;
}

.flag.bh {
    height: 12px;
    background-position: -504px 0;
}

.flag.bi {
    height: 12px;
    background-position: -526px 0;
}

.flag.bj {
    height: 14px;
    background-position: -548px 0;
}

.flag.bl {
    height: 14px;
    background-position: -570px 0;
}

.flag.bm {
    height: 10px;
    background-position: -592px 0;
}

.flag.bn {
    height: 10px;
    background-position: -614px 0;
}

.flag.bo {
    height: 14px;
    background-position: -636px 0;
}

.flag.bq {
    height: 14px;
    background-position: -658px 0;
}

.flag.br {
    height: 14px;
    background-position: -680px 0;
}

.flag.bs {
    height: 10px;
    background-position: -702px 0;
}

.flag.bt {
    height: 14px;
    background-position: -724px 0;
}

.flag.bv {
    height: 15px;
    background-position: -746px 0;
}

.flag.bw {
    height: 14px;
    background-position: -768px 0;
}

.flag.by {
    height: 10px;
    background-position: -790px 0;
}

.flag.bz {
    height: 14px;
    background-position: -812px 0;
}

.flag.ca {
    height: 10px;
    background-position: -834px 0;
}

.flag.cc {
    height: 10px;
    background-position: -856px 0;
}

.flag.cd {
    height: 15px;
    background-position: -878px 0;
}

.flag.cf {
    height: 14px;
    background-position: -900px 0;
}

.flag.cg {
    height: 14px;
    background-position: -922px 0;
}

.flag.ch {
    height: 15px;
    background-position: -944px 0;
}

.flag.ci {
    height: 14px;
    background-position: -961px 0;
}

.flag.ck {
    height: 10px;
    background-position: -983px 0;
}

.flag.cl {
    height: 14px;
    background-position: -1005px 0;
}

.flag.cm {
    height: 14px;
    background-position: -1027px 0;
}

.flag.cn {
    height: 14px;
    background-position: -1049px 0;
}

.flag.co {
    height: 14px;
    background-position: -1071px 0;
}

.flag.cp {
    height: 14px;
    background-position: -1093px 0;
}

.flag.cr {
    height: 12px;
    background-position: -1115px 0;
}

.flag.cu {
    height: 10px;
    background-position: -1137px 0;
}

.flag.cv {
    height: 12px;
    background-position: -1159px 0;
}

.flag.cw {
    height: 14px;
    background-position: -1181px 0;
}

.flag.cx {
    height: 10px;
    background-position: -1203px 0;
}

.flag.cy {
    height: 14px;
    background-position: -1225px 0;
}

.flag.cz {
    height: 14px;
    background-position: -1247px 0;
}

.flag.de {
    height: 12px;
    background-position: -1269px 0;
}

.flag.dg {
    height: 10px;
    background-position: -1291px 0;
}

.flag.dj {
    height: 14px;
    background-position: -1313px 0;
}

.flag.dk {
    height: 15px;
    background-position: -1335px 0;
}

.flag.dm {
    height: 10px;
    background-position: -1357px 0;
}

.flag.do {
    height: 14px;
    background-position: -1379px 0;
}

.flag.dz {
    height: 14px;
    background-position: -1401px 0;
}

.flag.ea {
    height: 14px;
    background-position: -1423px 0;
}

.flag.ec {
    height: 14px;
    background-position: -1445px 0;
}

.flag.ee {
    height: 13px;
    background-position: -1467px 0;
}

.flag.eg {
    height: 14px;
    background-position: -1489px 0;
}

.flag.eh {
    height: 10px;
    background-position: -1511px 0;
}

.flag.er {
    height: 10px;
    background-position: -1533px 0;
}

.flag.es {
    height: 14px;
    background-position: -1555px 0;
}

.flag.et {
    height: 10px;
    background-position: -1577px 0;
}

.flag.eu {
    height: 14px;
    background-position: -1599px 0;
}

.flag.fi {
    height: 12px;
    background-position: -1621px 0;
}

.flag.fj {
    height: 10px;
    background-position: -1643px 0;
}

.flag.fk {
    height: 10px;
    background-position: -1665px 0;
}

.flag.fm {
    height: 11px;
    background-position: -1687px 0;
}

.flag.fo {
    height: 15px;
    background-position: -1709px 0;
}

.flag.fr {
    height: 14px;
    background-position: -1731px 0;
}

.flag.ga {
    height: 15px;
    background-position: -1753px 0;
}

.flag.gb {
    height: 10px;
    background-position: -1775px 0;
}

.flag.gd {
    height: 12px;
    background-position: -1797px 0;
}

.flag.ge {
    height: 14px;
    background-position: -1819px 0;
}

.flag.gf {
    height: 14px;
    background-position: -1841px 0;
}

.flag.gg {
    height: 14px;
    background-position: -1863px 0;
}

.flag.gh {
    height: 14px;
    background-position: -1885px 0;
}

.flag.gi {
    height: 10px;
    background-position: -1907px 0;
}

.flag.gl {
    height: 14px;
    background-position: -1929px 0;
}

.flag.gm {
    height: 14px;
    background-position: -1951px 0;
}

.flag.gn {
    height: 14px;
    background-position: -1973px 0;
}

.flag.gp {
    height: 14px;
    background-position: -1995px 0;
}

.flag.gq {
    height: 14px;
    background-position: -2017px 0;
}

.flag.gr {
    height: 14px;
    background-position: -2039px 0;
}

.flag.gs {
    height: 10px;
    background-position: -2061px 0;
}

.flag.gt {
    height: 13px;
    background-position: -2083px 0;
}

.flag.gu {
    height: 11px;
    background-position: -2105px 0;
}

.flag.gw {
    height: 10px;
    background-position: -2127px 0;
}

.flag.gy {
    height: 12px;
    background-position: -2149px 0;
}

.flag.hk {
    height: 14px;
    background-position: -2171px 0;
}

.flag.hm {
    height: 10px;
    background-position: -2193px 0;
}

.flag.hn {
    height: 10px;
    background-position: -2215px 0;
}

.flag.hr {
    height: 10px;
    background-position: -2237px 0;
}

.flag.ht {
    height: 12px;
    background-position: -2259px 0;
}

.flag.hu {
    height: 10px;
    background-position: -2281px 0;
}

.flag.ic {
    height: 14px;
    background-position: -2303px 0;
}

.flag.id {
    height: 14px;
    background-position: -2325px 0;
}

.flag.ie {
    height: 10px;
    background-position: -2347px 0;
}

.flag.il {
    height: 15px;
    background-position: -2369px 0;
}

.flag.im {
    height: 10px;
    background-position: -2391px 0;
}

.flag.in {
    height: 14px;
    background-position: -2413px 0;
}

.flag.io {
    height: 10px;
    background-position: -2435px 0;
}

.flag.iq {
    height: 14px;
    background-position: -2457px 0;
}

.flag.ir {
    height: 12px;
    background-position: -2479px 0;
}

.flag.is {
    height: 15px;
    background-position: -2501px 0;
}

.flag.it {
    height: 14px;
    background-position: -2523px 0;
}

.flag.je {
    height: 12px;
    background-position: -2545px 0;
}

.flag.jm {
    height: 10px;
    background-position: -2567px 0;
}

.flag.jo {
    height: 10px;
    background-position: -2589px 0;
}

.flag.jp {
    height: 14px;
    background-position: -2611px 0;
}

.flag.ke {
    height: 14px;
    background-position: -2633px 0;
}

.flag.kg {
    height: 12px;
    background-position: -2655px 0;
}

.flag.kh {
    height: 13px;
    background-position: -2677px 0;
}

.flag.ki {
    height: 10px;
    background-position: -2699px 0;
}

.flag.km {
    height: 12px;
    background-position: -2721px 0;
}

.flag.kn {
    height: 14px;
    background-position: -2743px 0;
}

.flag.kp {
    height: 10px;
    background-position: -2765px 0;
}

.flag.kr {
    height: 14px;
    background-position: -2787px 0;
}

.flag.kw {
    height: 10px;
    background-position: -2809px 0;
}

.flag.ky {
    height: 10px;
    background-position: -2831px 0;
}

.flag.kz {
    height: 10px;
    background-position: -2853px 0;
}

.flag.la {
    height: 14px;
    background-position: -2875px 0;
}

.flag.lb {
    height: 14px;
    background-position: -2897px 0;
}

.flag.lc {
    height: 10px;
    background-position: -2919px 0;
}

.flag.li {
    height: 12px;
    background-position: -2941px 0;
}

.flag.lk {
    height: 10px;
    background-position: -2963px 0;
}

.flag.lr {
    height: 11px;
    background-position: -2985px 0;
}

.flag.ls {
    height: 14px;
    background-position: -3007px 0;
}

.flag.lt {
    height: 12px;
    background-position: -3029px 0;
}

.flag.lu {
    height: 12px;
    background-position: -3051px 0;
}

.flag.lv {
    height: 10px;
    background-position: -3073px 0;
}

.flag.ly {
    height: 10px;
    background-position: -3095px 0;
}

.flag.ma {
    height: 14px;
    background-position: -3117px 0;
}

.flag.mc {
    height: 15px;
    background-position: -3139px 0;
}

.flag.md {
    height: 10px;
    background-position: -3160px 0;
}

.flag.me {
    height: 10px;
    background-position: -3182px 0;
}

.flag.mf {
    height: 14px;
    background-position: -3204px 0;
}

.flag.mg {
    height: 14px;
    background-position: -3226px 0;
}

.flag.mh {
    height: 11px;
    background-position: -3248px 0;
}

.flag.mk {
    height: 10px;
    background-position: -3270px 0;
}

.flag.ml {
    height: 14px;
    background-position: -3292px 0;
}

.flag.mm {
    height: 14px;
    background-position: -3314px 0;
}

.flag.mn {
    height: 10px;
    background-position: -3336px 0;
}

.flag.mo {
    height: 14px;
    background-position: -3358px 0;
}

.flag.mp {
    height: 10px;
    background-position: -3380px 0;
}

.flag.mq {
    height: 14px;
    background-position: -3402px 0;
}

.flag.mr {
    height: 14px;
    background-position: -3424px 0;
}

.flag.ms {
    height: 10px;
    background-position: -3446px 0;
}

.flag.mt {
    height: 14px;
    background-position: -3468px 0;
}

.flag.mu {
    height: 14px;
    background-position: -3490px 0;
}

.flag.mv {
    height: 14px;
    background-position: -3512px 0;
}

.flag.mw {
    height: 14px;
    background-position: -3534px 0;
}

.flag.mx {
    height: 12px;
    background-position: -3556px 0;
}

.flag.my {
    height: 10px;
    background-position: -3578px 0;
}

.flag.mz {
    height: 14px;
    background-position: -3600px 0;
}

.flag.na {
    height: 14px;
    background-position: -3622px 0;
}

.flag.nc {
    height: 10px;
    background-position: -3644px 0;
}

.flag.ne {
    height: 15px;
    background-position: -3666px 0;
}

.flag.nf {
    height: 10px;
    background-position: -3686px 0;
}

.flag.ng {
    height: 10px;
    background-position: -3708px 0;
}

.flag.ni {
    height: 12px;
    background-position: -3730px 0;
}

.flag.nl {
    height: 14px;
    background-position: -3752px 0;
}

.flag.no {
    height: 15px;
    background-position: -3774px 0;
}

.flag.np {
    height: 15px;
    background-position: -3796px 0;
}

.flag.nr {
    height: 10px;
    background-position: -3811px 0;
}

.flag.nu {
    height: 10px;
    background-position: -3833px 0;
}

.flag.nz {
    height: 10px;
    background-position: -3855px 0;
}

.flag.om {
    height: 10px;
    background-position: -3877px 0;
}

.flag.pa {
    height: 14px;
    background-position: -3899px 0;
}

.flag.pe {
    height: 14px;
    background-position: -3921px 0;
}

.flag.pf {
    height: 14px;
    background-position: -3943px 0;
}

.flag.pg {
    height: 15px;
    background-position: -3965px 0;
}

.flag.ph {
    height: 10px;
    background-position: -3987px 0;
}

.flag.pk {
    height: 14px;
    background-position: -4009px 0;
}

.flag.pl {
    height: 13px;
    background-position: -4031px 0;
}

.flag.pm {
    height: 14px;
    background-position: -4053px 0;
}

.flag.pn {
    height: 10px;
    background-position: -4075px 0;
}

.flag.pr {
    height: 14px;
    background-position: -4097px 0;
}

.flag.ps {
    height: 10px;
    background-position: -4119px 0;
}

.flag.pt {
    height: 14px;
    background-position: -4141px 0;
}

.flag.pw {
    height: 13px;
    background-position: -4163px 0;
}

.flag.py {
    height: 11px;
    background-position: -4185px 0;
}

.flag.qa {
    height: 8px;
    background-position: -4207px 0;
}

.flag.re {
    height: 14px;
    background-position: -4229px 0;
}

.flag.ro {
    height: 14px;
    background-position: -4251px 0;
}

.flag.rs {
    height: 14px;
    background-position: -4273px 0;
}

.flag.ru {
    height: 14px;
    background-position: -4295px 0;
}

.flag.rw {
    height: 14px;
    background-position: -4317px 0;
}

.flag.sa {
    height: 14px;
    background-position: -4339px 0;
}

.flag.sb {
    height: 10px;
    background-position: -4361px 0;
}

.flag.sc {
    height: 10px;
    background-position: -4383px 0;
}

.flag.sd {
    height: 10px;
    background-position: -4405px 0;
}

.flag.se {
    height: 13px;
    background-position: -4427px 0;
}

.flag.sg {
    height: 14px;
    background-position: -4449px 0;
}

.flag.sh {
    height: 10px;
    background-position: -4471px 0;
}

.flag.si {
    height: 10px;
    background-position: -4493px 0;
}

.flag.sj {
    height: 15px;
    background-position: -4515px 0;
}

.flag.sk {
    height: 14px;
    background-position: -4537px 0;
}

.flag.sl {
    height: 14px;
    background-position: -4559px 0;
}

.flag.sm {
    height: 15px;
    background-position: -4581px 0;
}

.flag.sn {
    height: 14px;
    background-position: -4603px 0;
}

.flag.so {
    height: 14px;
    background-position: -4625px 0;
}

.flag.sr {
    height: 14px;
    background-position: -4647px 0;
}

.flag.ss {
    height: 10px;
    background-position: -4669px 0;
}

.flag.st {
    height: 10px;
    background-position: -4691px 0;
}

.flag.sv {
    height: 12px;
    background-position: -4713px 0;
}

.flag.sx {
    height: 14px;
    background-position: -4735px 0;
}

.flag.sy {
    height: 14px;
    background-position: -4757px 0;
}

.flag.sz {
    height: 14px;
    background-position: -4779px 0;
}

.flag.ta {
    height: 10px;
    background-position: -4801px 0;
}

.flag.tc {
    height: 10px;
    background-position: -4823px 0;
}

.flag.td {
    height: 14px;
    background-position: -4845px 0;
}

.flag.tf {
    height: 14px;
    background-position: -4867px 0;
}

.flag.tg {
    height: 13px;
    background-position: -4889px 0;
}

.flag.th {
    height: 14px;
    background-position: -4911px 0;
}

.flag.tj {
    height: 10px;
    background-position: -4933px 0;
}

.flag.tk {
    height: 10px;
    background-position: -4955px 0;
}

.flag.tl {
    height: 10px;
    background-position: -4977px 0;
}

.flag.tm {
    height: 14px;
    background-position: -4999px 0;
}

.flag.tn {
    height: 14px;
    background-position: -5021px 0;
}

.flag.to {
    height: 10px;
    background-position: -5043px 0;
}

.flag.tr {
    height: 14px;
    background-position: -5065px 0;
}

.flag.tt {
    height: 12px;
    background-position: -5087px 0;
}

.flag.tv {
    height: 10px;
    background-position: -5109px 0;
}

.flag.tw {
    height: 14px;
    background-position: -5131px 0;
}

.flag.tz {
    height: 14px;
    background-position: -5153px 0;
}

.flag.ua {
    height: 14px;
    background-position: -5175px 0;
}

.flag.ug {
    height: 14px;
    background-position: -5197px 0;
}

.flag.um {
    height: 11px;
    background-position: -5219px 0;
}

.flag.un {
    height: 14px;
    background-position: -5241px 0;
}

.flag.us {
    height: 11px;
    background-position: -5263px 0;
}

.flag.uy {
    height: 14px;
    background-position: -5285px 0;
}

.flag.uz {
    height: 10px;
    background-position: -5307px 0;
}

.flag.va {
    height: 15px;
    background-position: -5329px 0;
}

.flag.vc {
    height: 14px;
    background-position: -5346px 0;
}

.flag.ve {
    height: 14px;
    background-position: -5368px 0;
}

.flag.vg {
    height: 10px;
    background-position: -5390px 0;
}

.flag.vi {
    height: 14px;
    background-position: -5412px 0;
}

.flag.vn {
    height: 14px;
    background-position: -5434px 0;
}

.flag.vu {
    height: 12px;
    background-position: -5456px 0;
}

.flag.wf {
    height: 14px;
    background-position: -5478px 0;
}

.flag.ws {
    height: 10px;
    background-position: -5500px 0;
}

.flag.xk {
    height: 15px;
    background-position: -5522px 0;
}

.flag.ye {
    height: 14px;
    background-position: -5544px 0;
}

.flag.yt {
    height: 14px;
    background-position: -5566px 0;
}

.flag.za {
    height: 14px;
    background-position: -5588px 0;
}

.flag.zm {
    height: 14px;
    background-position: -5610px 0;
}

.flag.zw {
    height: 10px;
    background-position: -5632px 0;
}

.flag {
    height: 15px;
    box-shadow: 0 0 1px 0 #888;
    background-image: url(./img/flags.png);
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    background-position: 20px 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .flag {
        background-image: url(./img/flags@2x.png);
    }
}

.flag.np {
    background-color: transparent;
}


body {
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 45%;
    box-shadow: 0 5px 10px black;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    background-color: red; /* Change the background-color to red */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/*table*/
table {
    width: 100%;
    border-collapse: collapse;
   
    
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: white;
}
.bold{
    background-color: lightblue;
}


.flexSum{
    display: flex;
}


.table{
    width: 30%;
    margin-left: 12%;
    margin-top: 2%;
    
}

.vertical {
    width: 1px;
    height: 420px;
    background-color: black;
    margin-left: 15%;
    margin-top: 1%;
}

#submitButton {
    background-color: lightblue;
    color: black;
    margin-left: 27%;
}

h1{
 
    margin-left: 2%;
    font-size: 30px;
}
p{
    margin-left: 2%;
    margin-top: -1%;
}

@media(max-width :900px){
.flexSum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
input[type="text"],
input[type="email"],
input[type="tel"],
select{
width: 80%;
padding: 10px;
}
.container{
    width: 100%;
    margin-left: -4%;
}
.vertical{
    display: none;
}
p{
    font-size: 14px;
    width: 70%;
}
label.logo{
    margin-left: -4%;
}
label.tickets{
    font-size: 15px;
    margin-left: 1%;
}
}
