*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}
/*turtle banner*/
.image-section{
    background: url(tickets_bg.jpeg);
    background-size: cover;
    height: calc(100vh - 80px);
  }
.background-image h2 {
    top: 33%;
    left: 3%;
    color: #fff;
    position: absolute;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.background-image p {
    top: 45%;
    left: 17%;
    color: #fff;
    position: absolute;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    @media(max-width:900px){
        .background-image{
          width: 100%;
    } 
    .background-image h2 {
    font-size:48px;
    top:22%;
    left:3%;
    display: none;
  }
}
@media(max-width:900px){
    .background-image p {
    font-size:20px;
    top:40%;
    left:15%;
    display: none;
  }
}
.pay-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(lightcyan,lightblue,rgb(28, 122, 223),darkblue);
    padding-bottom: 70px;
}
.pay-container form{
    padding: 20px;
    width: 700px;
    background-color: white;
    box-shadow: 0 5px 10px black;
}
.pay-container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.pay-container form .row .col{
    flex: 1 1 250px;
}
.pay-container form .row .col .title{
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.pay-container form .row .col .inputBox{
    margin: 15px 0;
}
.pay-container form .row .col .inputBox span{
    margin-bottom: 10px;
    display:block;
}
.pay-container form .row .col .inputBox input{
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    padding: 10px 15px;
    text-transform: none;
}
.pay-container form .row .col .inputBox input:focus{
    border: 1px solid black;
}
.pay-container form .row .col .flex{
    display: flex;
    gap: 15px;
}
.pay-container form .row .col .flex .inputBox{
    margin-top: 5px;
}
.pay-container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px black);
}
.pay-container form .submit-btn{
    width: 100%;
    padding: 12px;
    font-size:17px;
    background:lightblue;
    color: black;
    margin-top: 5px;
    cursor: pointer;

}
.pay-container form .submit-btn:hover{
    background: linear-gradient(lightcyan,lightblue,rgb(28, 122, 223),darkblue);
}



